{
    "trailingComma": "none",
    "useTabs": true,
    "semi": false,
    "tabWidth": 2,
    "jsxSingleQuote": true,
    "singleQuote": false,
    "arrowParens": "avoid",
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@/components/(.*)$",
        "^@/hooks/(.*)$",
        "^@/types/(.*)$",
        "^@/utils/(.*)$",
        "^../(.*)",
        "^./(.*)",
        "(.scss)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true

}